.job-listing-section{
    background-color: #F8F9FA;
    padding: 50px 60px 50px 60px;
 }
.job-listing-section p:first-of-type{
   color: #999999;
   text-align: center;
   font-size: 18px;
}
.job-listing-section--heading{
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
}
.job-listing-section--heading h1:first-of-type{
   color: #333333;
   font-weight: 400;
}
.job-listing-section--heading h1:last-of-type{
    font-weight: 700;
    color: #333333;
    padding-left: 10px;
}
.job-listing{
   background-color: #fff;
   display: flex;
   padding: 15px;
   margin-bottom: 10px;
}
.listing-front{
   display: flex;
   flex:1;
   flex-direction: column;
   justify-content: center;
}
.listing-front-top{
   display: flex;
   padding: 15px 0px;
}
.listing-front-top h1{
   color: #6C6C6C;
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 0;
}
.listing-front-top p,.listing-end p  {
   background-color: #157EFA;
   border-radius: 1.5em;
   padding: 5px 10px;
   font-size: 14px !important;
   font-weight: 500;
   color: #fff !important;
   margin-left: 5px;
   margin-bottom: 0;
}
.listing-end p {
   font-size: 18px !important;
   cursor: pointer;
}
@media only screen and (max-width: 540px) {
   .listing-front-top{
      display: flex;
      padding: 5px 0px;
   }
   .listing-front-top h1{
      color: #6C6C6C;
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 0;
   }
   .listing-front-top p,.listing-end p {
      background-color: #157EFA;
      border-radius: 1em;
      padding: 5px 5px;
      font-size: 10px !important;
      font-weight: 500;
      color: #fff !important;
      margin-left: 5px;
      margin-bottom: 0;
   }
   .listing-end p {
      font-size: 15px !important;
      cursor: pointer;
   }
}
@media only screen and (max-width: 400px) {
   .listing-front-top{
      display: flex;
      padding: 5px 0px;
   }
   .listing-front-top h1{
      color: #6C6C6C;
      font-size: 8px;
      font-weight: 500;
      margin-bottom: 0;
   }
   .listing-front-top p,.listing-end p {
      background-color: #157EFA;
      border-radius: 1em;
      padding: 5px 5px;
      font-size: 8px !important;
      font-weight: 500;
      color: #fff !important;
      margin-left: 5px;
      margin-bottom: 0;
   }
   .listing-end p {
      font-size: 10px !important;
      cursor: pointer;
   }
} 
.listing-front-bottom{
   display: flex;
 }
.listing-front-bottom div:first-of-type{
  display: flex;
}
.listing-front-bottom div:last-of-type{
  display: flex;
  padding-left: 10px;
}
.listing-front-bottom h4:first-child{
  color: #157EFA !important;
  font-size: 14px;
  font-weight: 400;
}
.listing-front-bottom h4:last-of-type{
  color: #BBBBBB !important;
  font-size: 14px;
  font-weight: 400; 
  padding-left: 5px;
}
.listing-end{
  display: flex !important;
  align-items: center;
}
.listing-end button{
  background-color: #157EFA;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 35px;
  padding: 0px 15px;
  border-radius: 5px;
  outline-color: transparent;
  right: 0;
}
.listing-end div{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 1px solid rgb(243, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.pagination{
  height: 100px;
  justify-content: center;
  align-items: center;
}
.pagination-circle-1{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 1px solid rgb(243, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5DD28E;
  margin-left: 10px;
}
/* .pagination-circle p{
   color: #5DD28E !important;
   margin-bottom: 0;
} */
.pagination-circle-1 button{
  border: none !important;
  outline: none !important;
  color: #fff !important;
  background: transparent !important;
  margin-bottom: 0;
}
.job-count{
  background-image: linear-gradient(to right,#636465,rgba(0,0,0,0.5)),url('../../assets//bg_1.jpg');
  background-size: cover;
  padding: 10px;
  margin-bottom: 20px;
}
.job-count h1{
   color: #fff;
}
.job-count p{
   color: #fff;
   font-size: 30px;
   font-weight: 400;
   /* font-size: 14px;
   font-weight: 500; */
   text-align: center;
}
.border-white-all {
   border: 5px solid #fff;
}
.job-details-button {
   font-weight: 400 !important;
   font-size: 20px !important;
   height: 50px;
   width: 80px;
   padding-top: 14px !important;
   border-radius: 10px;
   cursor: pointer;
}
.jobpost-company-logo {
   padding-left: 10px;
   height: 80px;
   width: 105px;
}  
.jobpost-job-text, .jobpost-job-title {
   padding-left: 20px;
}
.no-underline {
    text-decoration: none !important;
}
.job-listing-card {
    background-color: #fff;
    margin: 20px;
    border: 2px solid #d8d8d8;
}